*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}
body{
background-image: url("./imgs/fundo.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.headerMenu{
   
    width: 99%;
    margin: auto;
    overflow: hidden;
    background-color: rgba(163, 162, 162, 0.041);
    color: white;
    font-size: 18px;
    padding: 15px;
    position: fixed;

}
.menu{
    width: 100%;
    float: right;
  
}

#logo{
    margin: 0;
    float: left;
    margin: 0;
}

ul{
     text-align: right;
     padding: 0;
     margin: 0;


  
}

li{
    margin: 15px;
    font-size: 27px;
    display: inline;
    align-content: center;

}

.middle{
    padding-top: 120px;
    position: relative;
    align-content: center;
    text-align: justify;
    
}

.description{

    background-color: rgba(255, 255, 255, 0.452);
    text-align: center;
    height: 170px;
    margin: 10px;
    padding: 5px;
}

.description h2{
    font-size:2em;
    padding-bottom:10px;
    font-weight: bold;
    text-transform: uppercase;
}

.description p{
    font-size: 1em;
}

.episode{
    background-color: rgba(255, 255, 255, 0.747);
    
    height: 450px;
    margin: 10px;


}


.dEpisode ul{
padding: 5%;    
text-align: center;
}

.dEpisode li{
padding: 0;  
margin: 0;  
border: black solid;

}
