*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}
body{
background-image: url("./fundo.jpg");
background-size: cover;
background-repeat: no-repeat;
}

a{
text-decoration: none;

}

.headerMenu{
   
    width: 99%;
    margin: auto;
    overflow: hidden;
    background-color:#00000062;
    color: white;
    font-size: 18px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    

}
.menu{
    width: 100%;
    float: right;
 
}

#logo{
    margin: 0;
    float: left;
    margin: 0;
}

ul{
     text-align: right;
     padding: 0;
     margin: 0;
     
}

li{
    margin: 15px;
    font-size: 27px;
    display: inline;
    align-content: center;

}

.middle{
    padding-top: 120px;
    position: relative;
    align-content: center;
    text-align: justify;
    
}

.description{

    background-color: rgba(255, 255, 255, 0.452);
    text-align: center;
    height: 170px;
    margin: 10px;
    padding: 5px;
}

.description h2{
    font-size:2em;
    padding-bottom:10px;
    font-weight: bold;
    text-transform: uppercase;
}

.description p{
    font-size: 1em;
}

.episode{
    background-color: rgba(255, 255, 255, 0.747);
    height: 600px;
    margin: 10px;
    margin-top: 25px;
    position: relative;
}

.dEpisode{
    padding: 70px;
    position: relative;
    
    
}


.dEpisode li{
padding: 0;  
margin: 0;  
border: black solid;
}

.dEpisode div{
    background-image: url("./microphone.png");
    background-repeat:no-repeat;
    background-size: 150px;
    background-position:top;
    background-position-y:20px; 
}	

.ep01{
background-color: rgba(255, 255, 255, 0.747); 
height: 450px;
width: 31%;
margin: 10px;
float: left;
}

.ep02{
background-color: rgba(255, 255, 255, 0.747); 
height: 450px;
width: 31%;
margin: 10px;
float: left;
}

 
.ep03{
background-color: rgba(255, 255, 255, 0.747); 
height: 450px;
width: 31%;
margin: 10px;
float: left;
    }   